*
{
    margin:0;
    padding:0;
}

body
{
    color: #fbd57a;
    font-family: Arial,Verdana,Helvetica,serif;
    font-size: 11pt;
    font-weight: normal;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    word-spacing: 0;
}
