<div id="add-{{id}}" class="ui inline fields">
  <div class="ui field">
    <div class="ui left icon input">
      <i class="info icon"></i>
      <input class="name-input" type="text" placeholder="Название" required/>
    </div>
  </div>
  <div class="ui field">
    <div class="ui left icon input">
      <i class="calendar icon"></i>
      <input class="datetimepicker-input" type="text" placeholder="Дата и время события" required/>
    </div>
  </div>
  <div class="ui field">
    <button class="ui icon remove button" type="button">
      <i class="trash icon"></i>
    </button>
  </div>
</div>
