<div class="ui container">
  <h1 class="ui dividing header">
    <div class="content">
      <i class="calendar icon"></i>
      <a class="section" href="#group/info/{{group.id}}">{{group.name}}</a>
      <i class="angle double right icon"></i>
      Изменить расписание группы.
    </div>
  </h1>
  <form id="change-timetable-form" class="ui form">
    <div class="ui two column stackable grid">
      <div class="column">
        <h4 class="ui header">Описание:</h4>
        <textarea type="text" class="full-width" id="description-input" placeholder="Описание, с поддержкой формата markdown." maxlentgh="2048" rows="3" value="" required/>
      </div>
      <div id="description-err" class="ui hidden pointing red basic label">
      </div>
      <div class="column">
        <h4 class="ui header">Предпросмотр описания:</h4>
        <div id="desc-preview" class="ui secandary segment description">
        </div>
      </div>
    </div>
    <div class="ui two column stackable grid">
      <div class="center aligned column">
        <div class="ui horizontal divider green header">
          <i class="plus icon"></i>
          Добавить события
        </div>
        <div id="new-add-btn" class="ui green fluid button">
          <i class="plus icon"></i>
          Добавить новое событие
        </div>
        <div class="ui tiny hidden divider"></div>
        <div id="add-list">
        </div>
      </div>
      <div class="column">
        <div class="ui horizontal divider red header">
          <i class="minus icon"></i>
          Удалить события
        </div>
        <div class="ui basic center aligned segment nopadmar">
          <input id="remove-datetimepicker" type="text"/>
        </div>
        <div id="remove-list" class="ui basic segment zeromargin">
        </div>
      </div>
    </div>
    <button class="ui primary fluid submit button" type="submit">Отправить на согласование с группой</button>
  </form>
</div>
