<h3 class="ui dividing header">
  <i class="comments icon"></i>
  {{all_count}} {{humanize all_count "Комментарий" "Комментария" "Комментариев"}}
</h3>
{{{pagination pagination ""}}}
<div id="comments-list" class="ui comments basic segment">
</div>
{{{pagination pagination ""}}}
<div class="ui hidden divider"></div>
