<div class="">
  <form class="ui form">
    <div class="ui top attached tabular menu">
      <a class="{{#unless is_preview}}active {{/unless}}edit tab item">Редактировать</a>
      <a class="{{#if is_preview}}active {{/if}}preview tab item">Предпросмотр</a>
    </div>
    <div class="ui bottom attached tab segment active">
      {{#if is_preview}}
      {{{markdown text}}}
      {{else}}
      <div class="ui field">
        <textarea id="comment-body" placeholder="Оставьте здесь комментарий ... (поддерживается форматирование markdown)" required>{{text}}</textarea>
      </div>
      {{/if}}
    </div>
    <div class="ui tiny hidden divider"></div>
    <button class="ui primary submit labeled icon button" type="submit">
      <i class="edit icon"></i> Комментировать
    </button>
  </form>
</div>
