<div class="container">
  <p>
  <span id="upload-btn" class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Добавить</span>
    <input id="upload-file" type="file" name="file" accept="image/jpeg,image/png">
  </span>
  </p>
  <div id="upload-progress" class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active"></div>
  </div>
  <div id="header-pagination">
  </div>
  <div id="preview-list" class="clearfix">
  </div>
  <br>
  <div id="footer-pagination">
  </div>
</div>
