<div class="ui container basic padded segment">
  <h2 class="ui dividing header">
    <div class="content">
      <i class="users icon"></i>
      {{name}}
    </div>
  </h2>
  {{#if editable}}
  <div id="edit-btn" class="ui top right pointing dropdown basic icon button topright">
    <i class="setting icon"></i>
    <div class="menu">
      <a class="item" href="#">
        <i class="calendar icon"></i>
        Изменить расписание
      </a>
      <a class="item" href="#">
        <i class="add user icon"></i>
        Пригласить пользователя
      </a>
    </div>
  </div>
  {{/if}}
  <p>
    {{{markdown description}}}
  </p>
  <h4 class="ui header">
    <div class="content">
      Участники:
    </div>
  </h4>
  <div class="ui basic blue labels">
    {{#each members}}
    <div class="ui label">
      {{name}}
    </div>
    {{/each}}
  </div>
</div>
