<div class="ui container basic padded segment">
  <h2 class="ui dividing header">
    <div class="content">
      <i class="child icon"></i>
      Создание новой группы
    </div>
  </h2>
  <form id="form-group-creation" class="ui form" onsubmit="return false;" role="group-creation">
    <div class="field">
      <label>Имя группы:</label>
      <input type="text" class="form-control" id="name-input" placeholder="Имя группы" value="{{name}}" maxlength="64" required autofocus>
    </div>
    <div class="field">
      <label>Пригласить:</label>
      <select id="users" class="ui fluid search dropdown" multiple="">
      </select>
    </div>
    <div class="field">
      <label>Описание:</label>
      <textarea type="text" class="form-control" id="description-input" placeholder="Подробное описание, с поддержкой формата markdown." maxlentgh="2048" rows="10" value="{{description}}" required/>
      <h4 class="ui header">
        <div class="content">
          Предпросмотр описания:
        </div>
      </h4>
      <div class="ui secondary segment">
        <div id="info-preview">
        </div>
      </div>
    </div>
    <button class="ui green button" type="submit">
      Создать
    </button>
  </form>
</div>


<!-- <div class="container"> -->
<!--   <div class="well well-lg"> -->
<!--     <form id="form-group-creation" class="form-horizontal" onsubmit="return false;" role="group-creation"> -->
<!--       <h3 class="form-heading">Создание новой группы</h3> -->
<!--       <div class="row"> -->
<!--         <div class="col-sm-9"> -->
<!--           <p> -->
<!--             <input type="text" class="form-control" id="name-input" placeholder="Имя группы" value="{{name}}" required autofocus> -->
<!--           </p> -->
<!--           <p> -->
<!--             <textarea type="text" class="form-control" id="description-input" placeholder="Подробное описание, с поддержкой формата markdown." maxlentgh="2048" rows="10" value="{{description}}" required/> -->
<!--           </p> -->
<!--           <h4>Предпросмотр описания:</h4> -->
<!--           <div class="well info-view"> -->
<!--               <div id="info-preview"> -->
<!--               </div> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="col-sm-3"> -->
<!--           <button id="add-member-btn" class="btn btn-primary" type="button">Добавить пользователя</button> -->
<!--           <h4>Пригласить:</h4> -->
<!--           <div id="users-list"> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--       <div id="errors-list"> -->
<!--       </div> -->
<!--       <p> -->
<!--         <button id="create-btn" class="btn btn-success" type="submit">Создать</button> -->
<!--       </p> -->
<!--     </form> -->
<!--   </div> -->
<!-- </div> -->
