<div class="ui secondary segment zeromargin">
    {{{markdown description}}}
</div>
<div class="ui right aligned basic segment zeromargin">
  <div class="ui basic blue label">
    Приглашенных: {{all_count}}
  </div>
  <div class="ui basic green label">
    Согласившихся: {{yes}}
  </div>
  <div class="ui basic red label">
    Отказавшихся: {{no}}
  </div>
</div>
