<div class="ui container">
  <h2 class="ui dividing header">
    <div class="content">
      <i class="child icon"></i>
      Создание новой группы
    </div>
  </h2>
  <form id="form-group-creation" class="ui form" onsubmit="return false;" role="group-creation">
    <div class="field">
      <h4 class="ui header">Имя группы:</h4>
      <input type="text" id="name-input" placeholder="Имя группы" value="{{name}}" maxlength="64" required autofocus>
    </div>
    <div class="field">
      <h4 class="ui header">Пригласить:</h4>
      <select id="users" multiple="" class="ui fluid search dropdown">
        <option value="">Выберите пользователей...</option>
      </select>
    </div>
    <div class="field">
      <div class="ui clearing basic segment nopadmar">
        <h4 class="ui left floated header">
          Описание:
        </h4>
        <h4 class="ui right floated header">
          <a class="thumb markdown">markdown?</a>
        </h4>
      </div>
      <textarea type="text" class="form-control" id="description-input" placeholder="Подробное описание, с поддержкой формата markdown." maxlentgh="2048" rows="10" value="{{description}}" required/>
      <h4 class="ui header">
        <div class="content">
          Предпросмотр описания:
        </div>
      </h4>
      <div class="ui secondary segment description">
        <div id="info-preview">
        </div>
      </div>
    </div>
    <div id="form-errors" class="ui negative hidden message">
      <div class="header">Ну пока не вышло:</div>
      <ul id="errors-list" class="list">
      </ul>
    </div>
    <button class="ui primary button" type="submit">
      Создать
    </button>
  </form>
</div>
{{{include "markdown_help"}}}
