<div class="ui secondary segment">
    {{{markdown description}}}
</div>
<div class"ui right aligned basic segment">
  <i>
    <strong>Приглашенных:</strong> {{all_count}}  <strong>Согласившихся:</strong> {{yes}}  <strong>Отказавшихся:</strong> {{no}}
  </i>
</div>
