<div class="info-view">
    {{{markdown description}}}
</div>
<p class="text-right">
    <i>
      <strong>Приглашенных:</strong> {{all_count}}  <strong>Согласившихся:</strong> {{yes}}  <strong>Отказавшихся:</strong> {{no}}
    </i>
</p>
