<div class="ui container">
  <h1 class="ui block header">
    <i class="users icon"></i>
    <div class="content">
      <a href="#group/info/{{group_id}}">{{group_name}}</a>
    </div>
  </h1>
  <div id="feeds" class="ui large feed">
  </div>
</div>
