<div class="ui secondary segment description">
  <h2 class="ui header">
    <div class="content">
      <i class="add user icon"></i>
      <a href="#user/{{user.id}}">{{user.name}}</a>
    </div>
  </h2>
  {{{markdown text}}}
</div>
