<div class="ui middle aligned four column doubling stackable center aligned grid">
  <div class="column mw400">
    <form id="form-login" class="ui middle form" onsubmit="return false;" role="login">
      <div class="ui segment">
        <h3 class="ui green header">
          <div class="content">
            Вход
          </div>
        </h3>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="login-name" type="text" placeholder="Имя" value="{{ user }}"required autofocus />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="login-pasw" type="password" placeholder="Пароль" required />
          </div>
        </div>
        <div id="login-error" class="ui negative message">
          <i class="close icon"></i>
          <div class="header">Ошибка:</div>
          <p>{{ error }}</p>
        </div>
        <div class="ui error message"></div>
        <button class="ui fluid green submit button" type="submit">ВХОД</button>
        <p>
          <small>
            Еще не с нами? <a href="#register">Пройди регистрацию</a>, чтобы присоединиться.
          </small>
        </p>
      </div>
    </form>
  </div>
</div>
