<div class="container">
  <div class="panel panel-default small center-block">
    <div class="panel-body">
      <form id="form-login" onsubmit="return false;" role="login">
        <h3 class="form-heading">Вход</h3>
        <div class="form-group">
          <input id="login-name" type="text" class="form-control" placeholder="Имя" value="{{ user }}"required autofocus />
        </div>
        <div class="form-group">
          <input id="login-pasw" type="password" class="form-control" placeholder="Пароль" required />
        </div>
        <div id="login-error" class="alert alert-danger hidden"><strong>Ошибка:</strong> {{ error }}</div>
        <div class="form-group">
          <button id="login-btn" class="btn btn-lg btn-success btn-block" type="submit">ВХОД</button>
        </div>
        <p>Еще не с нами? <a href="#register">Пройди регистрацию</a>, чтобы присоединиться.</p>
      </form>
    </div>
  </div>
</div>
