<div class="container page-btns-place">
  <div class="btn-group btn-group-justified" role="group">
    <a href="#mailbox/unreaded" role="button" class="btn btn-default {{#if is_unreaded}}active{{/if}}">Не прочитанные</a>
    <a href="#mailbox" role="button" class="btn btn-default {{#unless is_unreaded}}active{{/unless}}">Все</a>
  </div>
</div>
<div class="container">
  <div id="header-pagination">
  </div>
  <div id="mail-list">
  </div>
  <div id="footer-pagination" style="clear:both">
  </div>
</div>
