<div class="panel panel-default">
  <div class="panel-heading clearfix">
      {{#unless readed}}
      <button type="button" class="btn btn-success pull-right">Прочитал</button>
      {{/unless}}
      <h4>
        <strong>{{sender_name}}</strong>: {{subject}}
      </h4>
  </div>
  <div class="panel-body">
    <p>{{{markdown body}}}</p>
  </div>
</div>
