<div id="markdown-help" class="ui flowing popup top left">
  <div class="ui left aligned basic segment">
    <h3 class="ui center aligned header">
      Мини-помошь по markdown
    </h3>
    <table class="ui very basic stripped compact table">
      <thead>
        <tr>
          <th>Оформление</th>
          <th>Разметка</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <i>наклонный</i>
          </td>
          <td>
            *наклонный*
          </td>
        </tr>
        <tr>
          <td>
            <b>жирный</b>
          </td>
          <td>
            **жирный**
          </td>
        </tr>
        <tr>
          <td>
            <strike>зачеркнутый</strike>
          </td>
          <td>
            ~~зачеркнутый~~
          </td>
        </tr>
        <tr>
          <td>
            заголовок
          </td>
          <td>
            # H1 ## H2 ### H3
          </td>
        </tr>
        <tr>
          <td>
            элемент списка
          </td>
          <td>
            * элемент списка
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://ru.wikipedia.org/wiki/Markdown">ссылка</a>
          </td>
          <td>
            [ссылка](https://ru.wikipedia.org/wiki/Markdown)
          </td>
        </tr>
        <tr>
          <td>
            <img style="width: 7em" src="/i/logo.png">
          </td>
          <td>
            ![](https://photometer.org.ru/i/logo.png)
          </td>
        </tr>
        <tr>
          <td>
            <img class="emoji" align="absmiddle" title=":smile:" src="i/emoji/smile.png" alt=":smile:">
            <img class="emoji" align="absmiddle" title=":wink:" src="i/emoji/wink.png" alt=":wink:">
            <img class="emoji" align="absmiddle" title=":thumbsup:" src="i/emoji/thumbsup.png" alt=":thumbsup:">
          </td>
          <td>
            :) ;) :+1:
            <a href="http://www.emoji-cheat-sheet.com/">Все поддерживаемые смайлики</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
