<div class="container">
  <div class="well">
    <form id="rename-photo-form" class="form-horizontal" onsubmit="return false;">
      <h3 class="form-heading">Редактирование</h3>
      <p>
        <div class="input-group">
          <div class="input-group full-width">
            <input type="text" class="form-control" id="new-name-input" placeholder="Имя фотографии" {{#if name}}value="{{name}}"{{/if}}>
          </div>
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Переименовать</button>
          </span>
        </div>
      </p>
    </form>
    <div class="">
      <img id="photo" src="/photo/{{id}}.jpg" class="center-block img-responsive"/>
    </div>
    <br>
    <button id="crop-btn" class="btn btn-success center-block" type="button">Изменить миниатюру</button>
    <br>
  </div>
</div>
