<div class="container-fluid my-container row">
  <form id="rename-photo-form" class="form-horizontal" onsubmit="return false;">
    <div class="form-group">
      <div class="input-group fly">
        <input type="text" class="form-control" id="new-name-input" placeholder="Имя фотографии" {{#if name}}value="{{name}}"{{/if}}>
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Переименовать</button>
        </span>
      </div>
    </div>
  </form>
  <div class="fly">
    <img src="/photo/{{id}}.jpg" class="img-responsive"/>
  <div>
</div>
