<div class="ui container basic segment">
  <h2 class="ui header">
    <div class="content">
      <i class="edit icon"></i>
      Редактирование
    </div>
  </h2>
  <form id="rename-photo-form" class="ui form" onsubmit="return false;">
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" id="new-name-input" placeholder="Имя фотографии" {{#if name}}value="{{name}}"{{/if}}>
      </div>
      <div class="four wide field">
        <button class="ui green basic button" type="submit">
          <i class="edit icon"></i>
          Переименовать
        </button>
      </div>
    </div>
  </form>
  <div class="ui divider"></div>
  <div id="img-container">
    <img class="fit incenter" id="photo" src="/photo/{{id}}.jpg"/>
  </div>
  <button id="crop-btn" style="width: 100%" class="ui bottom attached green basic button" type="button">
    <i class="crop icon"></i>
    Изменить миниатюру
  </button>
</div>
