<div class="ui center aligned basic segment">
  <div class="ui blue basic label">
    Должны опубликоваться: {{all_count}}
  </div>
  <div class="ui green basic label">
    Опубликовалось: {{published}}
  </div>
</div>
