<div class="ui center aligned basic segment">
  <div class="ui two small statistics">
    <div class="statistic">
      <div class="value">
        <i class="user icon"></i>
        {{all_count}}
      </div>
      <div class="label">
        Должны опубликоваться
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="photo icon"></i>
        {{published}}
      </div>
      <div class="label">
        Опубликовалось
      </div>
    </div>
  </div>
</div>
