<div class="ui container middle aligned one column doubling stackable center aligned grid">
  <div class="column">
    <div class="ui massive message">
      <h1 class="ui green header">Регистрация прошла успешно!</h1>
      <p>Осталось совсем чуть-чуть, всего лишь активировать вашу учётную запись, и Вы сможете сможете пользоватся фотометром по полной программе.</p>
      <p>Сейчас наши сутрудники высылают, на Ваш электронный адрес <strong>{{email}}</strong> письмо для активации вашей учётной записи.
        Следуйте инструкция в письме, что-бы завершить регистрацию.</p>
    </div>
  </div>
</div>
