<div class="container">
    <div class="jumbotron fly">
        <h2 class="text-success">Регистрация прошла успешно!</h2>
        <p>Осталось совсем чуть-чуть, всего лишь активировать вашу учётную запись, и Вы сможете сможете пользоватся фотометром по полной программе.</p>
        <p>Сейчас наши сутрудники высылают, на Ваш электронный адрес <strong>{{email}}</strong> письмо для активации вашей учётной записи.
        Следуйте инструкция в письме, что-бы завершить регистрацию.</p>
    </div>
</div>
