<div class="ui middle aligned four column doubling stackable center aligned grid full-height">
  <div class="column mw400">
    <form id="form-register" class="ui middle form" onsubmit="return false;" role="register">
      <div class="ui segment">
        <h3 class="ui blue header">
          <div class="content">
            Регистрация
          </div>
        </h3>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="name" type="text" class="form-control" placeholder="Имя" value="{{name}}"  autofocus />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="pasw" type="password" class="form-control" placeholder="Пароль"  />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="pasw2" type="password" class="form-control" placeholder="Пароль еще разок"  />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input id="mail" type="email" class="form-control" placeholder="Почта" value="{{email}}"  autofocus />
          </div>
        </div>
        <div id="form-reg-error" class="ui negative message">
          <div class="header">Ошибка:</div>
          <p>{{ error }}</p>
        </div>
        <div class="ui error message"></div>
        <button class="ui fluid blue submit button" type="submit">Регистрация</button>
        <p>
          <small>
            Уже зарегистрированы? Тогда, будьте любезны, <a href="#login">входите.</a>
          </small>
        </p>
      </div>
    </form>
  </div>
</div>
