<div class="ui segment zeromargin">
  <div class="ui header">
    <div class="content">
      {{name}}
      <div class="sub header">Публикация</div>
    </div>
  </div>
  <div class="ui left icon disabled fluid input">
    <input type="text" value="{{time ending_time}}">
    <i class="calendar icon"></i>
  </div>
  <button class="ui icon basic remove button topright" type="button">
    <i class="close icon"></i>
  </button>
</div>
