<div class="ui item">
  <div class="content">
    <div class="header">{{name}}</div>
    <div class="meta">Публикация</div>
    <div class="description">
      <div class="ui left icon disabled input">
        <input type="text" value="{{ending_time}}">
        <i class="calendar icon"></i>
      </div>
    </div>
  </div>
</div>
