<p>
  <div class="input-group">
    <input type="text" class="form-control user-name" placeholder="Имя пользователя" value="{{name}}">
    <span class="input-group-btn">
      <button class="btn glass-btn remove-btn" type="button"><span class="glyphicon glyphicon-trash"></span></button>
    </span>
  </div>
</p>
