<h4 class="ui header">
  <div class="content">
    Описание группы:
  </div>
</h4>
<div class="ui secondary segment zeromargin description">
  {{{markdown group_description}}}
</div>
{{#if is_voted}}
<div class="ui center aligned basic segment">
  <div class="ui one small statistics">
    <div class="statistic">
      <div class="value">
      {{#if success}}
        <i class="thumb up icon"></i>
      </div>
      <div class="label">
        {{user.name}} дал согласие
      </div>
      {{else}}
        <i class="thumb down icon"></i>
      </div>
      <div class="label">
        {{user.name}} отказался
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
