<p>
  <div class="input-group">
    <input type="text" class="form-control user-name" placeholder="Имя пользователя" value="{{name}}" required>
    <span class="input-group-btn">
      <button class="btn btn-default remove-btn" type="button"><span class="glyphicon glyphicon-trash"></span></button>
    </span>
  </div>
</p>
