<div class="ui center aligned basic segment container">
  <h3 class="ui header">
    <div class="content">
      <i>{{answer}}</i>
    </div>
  </h3>
  <button id="yes-btn" class="positive ui button">Да</button>
  <button id="no-btn" class="negative ui button">Нет</button>
</div>
