<p>
  <h3 class="text-center"><i>{{answer}}</i></h3>
</p>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <button id="yes-btn" class="btn btn-lg btn-success" type="button"> Да</button>
    <button id="no-btn" class="btn btn-lg btn-danger" type="button"> Нет</button>
  <div>
</div>
