@import "semantic.css";
@import "jquery.fileupload.css";
@import "imgareaselect-animated.css";

#workspace {
    height: 100%
}

body > #workspace > .grid {
    height: 100%
}

img.logo {
    width: 7rem;
}

.mw300 {
    max-width: 300px;
}

.mw400 {
    max-width: 400px;
}
