@import "semantic.css";
@import "jquery.fileupload.css";
@import "imgareaselect-animated.css";

#workspace {
    height: 100%
}

.full-height {
    height: 100%
}

img.logo {
    width: 7rem;
}

.mw300 {
    max-width: 300px;
}

.mw400 {
    max-width: 400px;
}

.topright {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}
