@import "bootstrap.css";
@import "bootstrap-theme.css";
@import "jquery.fileupload.css";
@import "imgareaselect-animated.css";

body {
  background-image: url(../i/px_by_Gre3g.png);
  font-family: verdana,sans-serif;
  font-size: 12px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    color: rgb( 159, 159, 159 );
}

.fly {
  box-shadow: 0px 2px 4px 1px rgba( 0, 0, 0, 0.4 )
}

.panel {
    background-color: rgba(20, 20, 21, 0.8);
}

.dark-glass {
    background-color: rgba(0, 0, 0, 0.5);
}

.blue-glass {
    background-color: rgba(9, 31, 51, 0.5);
}

/* TODO: Сделать это через кастомизацию bootstrap */
.form-control {
    background-color: rgba(99, 99, 100, 0.7);
    color: #ccc;
    border: 1px solid #000;
}

.mu-btn {
    background-color: rgba( 0, 0, 0, 0 );
    color: #ccc;
    border: 2px solid #333;
}

.mu-btn:hover {
    background-color: rgba( 0, 0, 0, 0.7 );
    color: #fff;
    border: 2px solid #333;
}

.mu-btn:focus {
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
}

.pagination > li > a {
    background-color: rgba( 0, 0, 0, 0.3 );
    color: #b8b8b8;
    border: 2px solid rgba( 0, 0, 0, 0.0 );
}

.pagination > li > a:hover {
    background-color: rgba( 0, 0, 0, 0.6 );
    color: #b8b8b8;
    border: 2px solid rgba( 0, 0, 0, 0 );
}

.pagination > .active > a {
    background-color: rgba( 0, 0, 0, 0.8 );
    color: #fff;
    border: 2px solid rgba( 0, 0, 0, 0 );
}

.pagination > .active > a:hover {
    background-color: rgba( 0, 0, 0, 0.8 );
    color: #fff;
    border: 2px solid rgba( 0, 0, 0, 0 );
}

.pagination > .disabled > a {
    background-color: rgba( 0, 0, 0, 0.3 );
    color: #444;
    border: 2px solid rgba( 0, 0, 0, 0 );
}

.pagination > .disabled > a:hover {
    background-color: rgba( 0, 0, 0, 0.3 );
    color: #444;
    border: 2px solid rgba( 0, 0, 0, 0 );
}


.pagination > li > a:focus {
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125);
}


/*
.form-control:focus {
    color: #66afe9
}
*/

.form-heading {
    text-align: center;
}

.small {
    max-width: 30rem;
}

.table-first-column-bold td:first-child {
    font-weight: bold
}

.spacer-w-sm {
    width: 10px
}


/*выпадающий список тоже хочу черный*/
.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown > li > a {
    color: #999;
}

.inverse-dropdown > li > a:hover {
    color: #fff;
    background: #000;
}

.inverse-dropdown > .devider {
    background-color: #000;
}


/*Превью фотки*/
.preview {
    display: inline;
    /*background-color: #19191A;*/
    float: left;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.thumb {
    cursor: pointer;
}

.my-container {
    width: 85%;
    margin: auto;
}

.full-width {
    width: 100%
}

img.has-success {
    border: 1px solid #3c763d;
}

img.has-error {
    border: 1px solid #a94442;
}

.mail {
    padding: 10px;
}

.mail-header {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000000;
}

.mail-header > h4 {
    color: #d17524;
}

.mail-body {
    padding: 10px;
    background: #292929;
}
