@import "semantic.css";
@import "jquery.fileupload.css";
@import "imgareaselect-animated.css";
@import "jquery.datetimepicker.css";

#workspace {
    height: 100%;
}

.fit {
    width: 100%;
    height: 100%;
}

.incenter {
    display: block;
    margin: auto;
}

.full-height {
    height: 100%
}

.full-width {
    width: 100%
}

textarea {
    resize: vertical;
}

img.logo {
    width: 7rem;
}

.mw300 {
    max-width: 300px !important;
}

.mw400 {
    max-width: 400px !important;
}

.topright {
    position: absolute !important;
    top: 0.75rem;
    right: 1rem;
}

.item .topright {
    right: 0rem;
}

.item:first-child .topright {
    top: 0rem;
}

#growl {
    position: fixed;
    top: 2rem;
    right: 2rem;
    max-width: 23rem;
}

.ontop {
    z-index: 999;
}

.invisible {
    display: none;
}

#photo-container {
    background-color: black;
    position: relative;
}

.relative {
    position: relative;
}

.pager {
    top: 0rem;
    position: absolute;
    width: 20rem;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0 );
    color: rgba( 0, 0, 0, 0 );
    transition: color 0.5s;
}
.pager:hover {
    color: rgba( 255, 255, 255, 0.8 );
    transition: color 0.5s;
}

.next {
    position: absolute;
    right: 0px;
}
.prev {
    position: absolute;
    left: 0px;
}

.inside {
    position: absolute;
    top: 40%;
    width: 100%;
}

.exifview {
    bottom: 0rem;
    position: absolute;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0 );
    transition: 0.5s;
}
.exifview .header {
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    font-family: serif;
}
.exifview:hover {
    background-color: rgba( 0, 0, 0, 0.8 );
    transition: 0.5s;
}
.exifview:hover .header {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.nameviewer {
    top: 0rem;
    position: absolute;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0 );
    transition: 0.5s;
}
.nameviewer .header {
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    font-family: serif;
}
.nameviewer a {
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}
.nameviewer:hover a {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}
.nameviewer:hover a:hover {
    color: #1e70bf;
}
.nameviewer:hover {
    background-color: rgba( 0, 0, 0, 0.8 );
    transition: 0.5s;
}
.nameviewer:hover .header {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}
.zeromargin {
    margin: 0rem !important;
}

#yes-btn, #no-btn {
    width: 9rem
}

.tiny.hidden.divider {
    margin: 0.5rem 0rem;
}